<%= link_to "Create your profile", new_user_profile_path(current_user) if current_user %>

<div class="jumbotron">
    
    <h2>Home</h2>
    <i class="fa fa-commenting fa-3x"></i>
    <p>This is the bare bones of this project</p>
    <iframe src="//giphy.com/embed/TYoMBrJXTknyU" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2>Basic Membership</h2>
            <h4>Sign up for free or be a fool!</h4>
            <%= link_to "Sign Up for Free", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2>Pro Plan</h2>
            <h4>You really wanna get them hoes? Pay me money mulie!</h4>
            <%= link_to "Go Pro Baby!", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>