<div class="jumbotron">
    
    <h2>Home</h2>
    <i class="fa fa-commenting fa-3x"></i>
    <p>This is the bare bones of this project</p>
    <iframe src="//giphy.com/embed/TYoMBrJXTknyU" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        
</div>
